@font-face {
  font-family: zpix;
  src: url("https://cdn.jsdelivr.net/gh/viscose3977/zpix_for_obs@main/zpix.woff2");
}

/* 应用到整个页面 */
:root {
  --main-font: "zpix", sans-serif;
}

body {
  font-family: var(--main-font) !important;
  font-size: 18px;
  line-height: 1.6;
}