@font-face {
  font-family: ZpixReviewOnline;
  src: url(https://zpix.now.sh/zpix.woff2?v2021-03-21);
}

/* 应用到整个页面 */
:root {
  --main-font: "ZpixReviewOnline", sans-serif;
}

body {
  font-family: var(--main-font) !important;
  font-size: 18px;
  line-height: 1.6;
}